<h1 mat-dialog-title>Rule Gp</h1>
<form [formGroup]="Reactiveform" (ngSubmit)="SaveEmployee()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input placeholder="Name" matInput formControlName="ruleGpName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cas ID</mat-label>
            <input numbersOnly placeholder="Cas ID" matInput formControlName="cas_id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input placeholder="Description" matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Book Ser No</mat-label>
            <input placeholder="Book Ser No" matInput formControlName="book_ser_no">
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label>Designation</mat-label>
           <mat-select formControlName="designation">
<mat-option *ngFor="let item of desdata" [value]="item.code">
{{item.name}}
</mat-option>
           </mat-select>
        </mat-form-field> -->
        <mat-radio-group formControlName="persType" aria-label="Select pers type">
            <mat-radio-button value="OFFR">Offr</mat-radio-button>
            <mat-radio-button value="OCOR">JCO/OR</mat-radio-button>
          </mat-radio-group>
          <section class="example-section">
            <br>
            <mat-checkbox formControlName="isCommon" class="example-margin">Is Common</mat-checkbox>
          </section>
 
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Save</button>
    </div>
</form>
